<h1>Data Science Tools and Ecosystem

<p>In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives</b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List commonly used libraries for Data Science</li>
    <li>List commonly used tools for Data Science</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Julia</li>
    <li>Python</li>
    <li>R</li>
<ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Tensorflow</li>
    <li>PyTorch</li>
    <li>Keras</li>
</ol>

<table>
<tr>
<th>Data Science Tools<th>
</tr>
<tr>
<td>RStudio</td>
</tr>
<tr>
<td>Spyder</td>
</tr>
<tr>
<td>Jupyter Notebooks</td>
</tr>

<h3>Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hr = min/60
hr

3.3333333333333335

<h2> Author </h2>
<p> Name: Debal Biswas </p>